* {
    box-sizing:border-box;
}

h5, p {
    font-family: 'Trebuchet MS';
}

h1 {
    font-family: "Trebuchet MS";
    color: white;
    text-shadow: 2px 2px 6px black;
    padding: 4px 45px 4px 45px;
}

table {
    overflow: hidden;
    display: inline-block;
    border: 2px solid black;
    padding: 8px;
}

td {
    border: 2px solid black;
    padding: 14px;
    position: relative;
}

td:hover {
    background-color: yellow;
}

td:hover::after {
    background-color: lightcoral;
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}